<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap-theme.min.css" crossorigin="anonymous">

    <!-- Drag and drop CSS -->
    <link rel="stylesheet" href="/static/styles.css">

    <!-- Drag and drop scripts -->
    <script>
    function dropHandler(ev) {
      console.log('File(s) dropped');
    
      // Prevent default behavior (Prevent file from being opened)
      ev.preventDefault();
    
      if (ev.dataTransfer.items) {
        // Use DataTransferItemList interface to access the file(s)
        for (var i = 0; i < ev.dataTransfer.items.length; i++) {
          // If dropped items aren't files, reject them
          if (ev.dataTransfer.items[i].kind === 'file') {
            var file = ev.dataTransfer.items[i].getAsFile();
            console.log('... file[' + i + '].name = ' + file.name);
            window.location.href="/search?q=" + file.name; 
          }
        }
      } else {
        // Use DataTransfer interface to access the file(s)
        for (var i = 0; i < ev.dataTransfer.files.length; i++) {
          console.log('... file[' + i + '].name = ' + ev.dataTransfer.files[i].name);
          window.location.href="/search?q=" + file.name; 
        }
      } 
      
      // Pass event to removeDragData for cleanup
      removeDragData(ev)
    }
    function dragOverHandler(ev) {
      console.log('File(s) in drop zone'); 
        // Prevent default behavior (Prevent file from being opened)
        ev.preventDefault();
    }
    function removeDragData(ev) {
      console.log('Removing drag data');

      if (ev.dataTransfer.items) {
        // Use DataTransferItemList interface to remove the drag data
        ev.dataTransfer.items.clear();
      } else {
        // Use DataTransfer interface to remove the drag data
        ev.dataTransfer.clearData();
      }
    }    
    </script>

    <!-- Page title -->
    <title>

        {% block title %}{% endblock %}

    </title>
  </head>

  <!-- Page body -->
  <body>
  <!-- Content inside Bootstrap class container -->
  <div class="container-fluid row" style="justify-content: center; width: 100%">
    <div style="width: 100%">
        <div id="logo" style="margin-left: 300px; margin-right: 300px; justify-content: center">
            <img src="static/woogle.png" />
        </div>
    </div>
    <div style="width: 100%">
      <div style="margin: auto; width: 60%" id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
        <p>Drag your file here to start ...</p>
      </div>
    </div>
      <div id="content" style="width: 60%; justify-content: center; text-align: left">

         {% block content %}{% endblock %}

      </div>
  </div> <!-- /.container -->

  <!-- Load JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
